@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

:root {
  --primary: #414040;
  --secondary: #7db499;
  --third: #832d46;
  --font1: #fffceb;
  --font2: #c3aa4c;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--third);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35em;
  padding: 16px;
}



button {
  appearance: none;
  width: 3em;
  height: 3em;
  color: var(--font1);
  font-size: 24px;
  border: none;
  border-radius: 14px;
  margin: 2.5px 2.5px 2.5px 2.5px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.7;
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--secondary);
  font-weight: 600;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button{
  flex: 1 1 30%;
  background-color: var(--primary);
}

span {
  height: 4em;
  width: 10em;
}

.calculator {
  width: 100%;
  max-width: 500px;
  background-color: whitesmoke;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0px 2px 40px;
}

.display {
  padding: 16px;
  text-align: right;
  background-color: var(--font2);
  font-weight: 600;
  color: whitesmoke;
  font-size: 40px;
  background-color:#748a7f;
}
